*{
    margin: 0;
    padding: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0rem;
    font-weight: 500;
    line-height: 1.2;
}

:root{
    --var--green1: #03B36A;
    
    --var--gray1:#383838;
    --var--gray2:#606060;
    --var--gray3:#838383;
    --var--gray4:#EEEDED;
    
    --var--white1: white;    
}

/* 
body{
    font-family: 'Playfair Display', serif;
} */

.brand{
    background-color: var(--var--gray1);
    width: 100%;
    text-align: center;
    position: relative;
}

.brand > img{
    width: 10rem;
}

.lineY{
    width: 1px;
    height: 30px;
    background-color: var(--var--gray1);
}

.bg-tansparent{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.handsUpContainer{
    background-image: url(./assets/images/handsup.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.handsUpContainer > h1 {
    text-shadow: 1px 1px gray;
}

.handsUpContainer > p {
    text-shadow: 1px 1px gray;
}

.container > p {
    font-size: 1.5rem;
}

.justify {
    text-align: justify;
}

.handsUpContainer > button {
    font-size: 1.2rem;
    border: 1px solid var(--var--gray4);
    padding: 0.3rem 1.5rem 0.5rem 1.5rem ;
    background: transparent;
    text-align: center;
    border-radius: 5px;

    transition: all  0.5s;
}

.handsUpContainer > button:hover {
    
    border: 1px solid var(--var--gray3);
    background: var(--var--gray3);
}

.btnPertenca{
    color: white;
    transition: all ease 0.5s;
    text-decoration: none;

    transition: all ease 0.5s;
}

.btnPertenca:hover {
    color: var(--var--gray1);
    transition: all ease 0.5s;
}


.pastorText{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
}

.textFamilyPastor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.textFamilyPastor > h2{
    font-weight: 400;
}

.textFamilyPastor > p{
    text-align: justify;
}

.signature{
    font-family:'Alex Brush', cursive;
}

.pastorFamily > img{
    width: 100%;
    height: 100%;
}

.ourNews{
    background-color: var(--var--gray1);
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourNews > img{
    width: 5rem;
    
}

.ourNews > p{
   margin-bottom: 0px;
    
}


.carroselGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-around;
    justify-items: center;
}



.imgsWidth{
    width: 100%;
    max-height: 250px;
    cursor: pointer;
}


.ourValues{
    width: 100%;
    text-align: center;
   
}


.ball{
    display: inline-block;
    margin: 10px;

  
}

.iconBall > img {
    width: 60px;
} 

.iconBall {
    width: 70%;
    border: 1.5px solid var(--var--gray2);
    border-radius: 50%;
    padding: 20px;
    display: inline-block;

}


.headCollege{
    width: 100%;
    background-color: var(--var--gray1);
    text-align: center;
    color: var(--var--white1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.headCollege > button , h3{
    display: inline-block;
}

.college{
    background-image: url(./assets/images/bible-on-wood.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: white;
}


.ballPastor > img{
    max-width: 250px;
    border-radius: 50%;
}

.college > div{
    text-align: center;
}

.college > p, h5{
    text-shadow: 1px 1px gray;
}

.shadowP{
    text-shadow: 1px 1px gray;
}


.footerChurch{
    width: 100%;
    background-color: var(--var--gray1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9rem;

}
.f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f3{
 text-align: center;
}


.f1{
    width: 33%;
    text-align: justify;
}

.f1 > img{
    max-width: 200px;
} 

.f2 > div > img{
    max-width: 35px;
} 

.f3 > a > img{
    max-width: 35px;
} 


@media screen and (max-width: 863px) {
    
    
    .pastorText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    }

    .textFamilyPastor > p{
    margin-top: 2rem;
    }
    
 
    
    .college{
        font-size: 0.8rem;
        background-position:center;
        background-size:cover;
    }
    
    
    .ballPastor > img{
        max-width: 150px;
        border-radius: 50%;
        margin-left: 15px;
    }
    
    .footerChurch{
        flex-direction: column;
    
    }

    .f1{
        width: 100%;
    }
}