:root{
    --var--green1: #2DCFB8;
    --var--green2: #28b6a0;
    --var--green3: #177466;
    
    --var--brown1:#78705F;
    --var--brown2:#5c5649;
    --var--brown3:#3a362e;

    --var--gray1:#EEEDED;
    
}