:root{
    --var--green1: #03B36A;
    
    --var--gray1:#606060;
    --var--gray2:#838383;
    --var--gray3:#EEEDED;
    
    --var--white1: white;    
}

.brand{
    background-color:  var(--var--green1);
    width: 100%;
    text-align: center;
}

.brand > img{
    width: 9.375rem;
}